@using Truck2.Models
@model RoutesEvents

<button class="btn btn-success" id="seeRoutes" style="margin-top: 20px">Everyday Routes</button>
<button class="btn btn-success" id="seeEvents" style="margin-top: 20px">Events</button>
<button class="btn btn-success" id="addEvent" style="margin-top: 20px">Add Event</button>
<button class="btn btn-success" id="addRoute" style="margin-top: 20px">Add Route</button>



    <table class="table  table-bordered table-hover table-striped events" id="eventTable" style="margin-top: 10px">

        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Amount Of People</th>
            <th class="text-center">Event Type</th>
            <th class="text-center">Amount Made</th>
            <th class="text-center">Product Type</th>
            <th class="text-center">Time Started</th>
            <th class="text-center">Time Ended</th>
            <th class="text-center">Driver</th>
            <th class="text-center">Date</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
        @foreach (var e in Model.Events)
        {
            <tr>
                <td class="text-center">@e.Name</td>
                <td class="text-center">@e.AmountOfPeople</td>
                <td class="text-center">@e.EventType</td>
                <td class="text-center">@string.Format("{0:C}", @e.AmountMade)</td>
                <td class="text-center">@e.ProductType</td>
                <td class="text-center">@e.TimeStarted</td>
                <td class="text-center">@e.TimeEnded</td>
                <td class="text-center">@e.Driver.Name</td>
                <td class="text-center">@e.Date.GetValueOrDefault().ToShortDateString()</td>
                <td class="text-center"><button class="btn btn-primary editEvent" data-id="@e.Id">Edit</button></td>
                <td class="text-center"><button class="btn btn-danger deleteEvent" data-id="@e.Id">Delete</button></td>
            </tr>
        }

    </table>
    <div class="events text-center">Total Event Amount Is @string.Format("{0:C}", @Model.EventsAmount)</div>


<table class="table  table-bordered table-hover table-striped routes" id="routeTable" style="margin-top: 10px">

    <tr>
        
        <th class="text-center">Date</th>
        <th class="text-center">Amount Made</th>
        <th class="text-center">Driver</th>
        <th class="text-center">Time Started</th>
        <th class="text-center">Time Ended</th>
        <th class="text-center">Edit</th>
        <th class="text-center">Delete</th>

    </tr>
    @foreach (var r in Model.Routes)
    {
        <tr>
            
            <td class="text-center">@r.Date.ToShortDateString()</td>
            <td class="text-center">@string.Format("{0:C}", @r.AmountMade)</td>
            <td class="text-center">@r.Driver.Name</td>
            <td class="text-center">@r.TimeStarted</td>
            <td class="text-center">@r.TimeEnded</td>
            <td class="text-center"><button class="btn btn-primary editRoute" data-id="@r.Id">Edit</button></td>
            <td class="text-center"><button class="btn btn-danger deleteRoute" data-id="@r.Id">Delete</button></td>
        </tr>
    }

</table>
<div class="routes text-center">Total Route Amount Is  @string.Format("{0:C}", @Model.RoutesAmount)</div>

<div class="modal fade" id="addRouteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Route</h4>
            </div>
            <div class="modal-body">
               
                Date:* <input type="text" class="form-control route" placeholder="Date" name="date" id="dateRoute"><br>
                Amount Made:* <input type="text" class="form-control route" placeholder="Amount Made" name="amountMade" id="amountMadeRoute"><br>
                Driver:* <select class="form-control route" name="driver" id="driverRoute">
    <option value="Moti">Moti</option>
    <option value="Nechemia">Nechemia</option>
    <option value="Other">Other</option>
</select>
                Time Started: <input type="time" class="form-control time" placeholder="Time Started" name="Time Started" id="timeStartedRoute"><br>
                Time Ended: <input type="time" class="form-control time" placeholder=" Time Ended" name="Time Ended" id="timeEndedRoute"><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveRoute" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Event</h4>
            </div>
            <div class="modal-body">
                Name:* <input type="text" class="form-control event" form-control"" placeholder="Name" name="name" id="nameEvent"><br>
                Amount Of People: <input type="text" class="form-control event" placeholder="Amount Of People" name="amountOfPeople" id="amountOfPeopleEvent"><br>
                Amount Made:* <input type="text" class="form-control event" placeholder="Amount Made" name="Amount Made" id="amountMadeEvent"><br>
                Product Type:* <select class="form-control event" name="productType" id="productTypeEvent">
                                   <option value="Soft Ice Cream">Soft Ice Cream</option>
                                   <option value="Ices">Ices</option>
                                   <option value="Novelties">Ice Cream Novelties</option>
</select>
                Time Started: <input type="time" class="form-control event" placeholder="Time Started" name="timeStarted" id="timeStartedEvent"><br>
                Time Ended: <input type="time" class="form-control event" placeholder="Time Ended" name="timeEnded" id="timeEndedEvent"><br>
                Driver:* <select class="form-control event" name="driver" id="driverEvent">
    <option value="Yakov">Yakov</option>
    <option value="Nechemia">Nechemia</option>
    <option value="Other">Other</option>
</select>
                Event Type:* <select class="form-control" name="event Type" id="eventType">
                                <option value="Camp">Camp</option>
                                <option value="School">School</option>
                                <option value="Birthday">Birthday</option>
                                <option value="Other">Other</option>
                </select>
                Date: <input type="text" class="form-control event" placeholder="Date" name="date" id="dateEvent"><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveEvent">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts
{
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/MoneyMade.js"></script>
}